@media screen {
  * {
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: black;
  }
  body {
    width: 100%;
    font-family: "Roboto", sans-serif;
  }
  body header {
    width: 100%;
    border-top: solid 1px rgb(234, 234, 234);
    display: flex;
    align-items: center;
  }
  body header a {
    display: block;
    align-items: center;
    padding-left: 10px;
    font-size: 24px;
  }
  body header > img {
    width: 50%;
    height: auto;
    margin: 18px auto;
    align-items: center;
  }
  body main .photo_restaurant {
    width: 100%;
  }
  body main .photo_restaurant img {
    width: 100%;
    object-fit: cover;
  }
  body main .photo_restaurant-laNoteEnchantee {
    width: 100%;
  }
  body main .photo_restaurant-laNoteEnchantee img {
    width: 100%;
    object-fit: cover;
    height: 260px;
  }
  body main article {
    width: 100%;
    background-color: rgb(246, 246, 246);
    border-radius: 44px 44px 0px 0px;
    margin-top: -50px;
    position: relative;
    z-index: 10;
    padding-bottom: 40px;
  }
  body main article .nom_resto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 88%;
    margin: auto;
    padding: 0px 0px;
  }
  body main article .nom_resto h2 {
    font-size: 28px;
    font-weight: 400;
    font-family: "Shrikhand", cursive;
    margin-bottom: 0px;
  }
  body main article .nom_resto i {
    display: inline-block;
    font-size: 28px;
    background-color: transparent;
    background-clip: content-box;
    -webkit-background-clip: text;
    cursor: pointer;
    transition: all 1s ease-out;
  }
  body main article .nom_resto i:hover {
    color: #FF79DA;
    font-weight: bold;
    opacity: 1;
  }
  body main article h3 {
    width: 88%;
    margin: auto;
    font-weight: 100;
    font-size: 16px;
    margin-top: 30px;
  }
  @keyframes slide-in {
    0% {
      opacity: 1;
      transform: translateY(1000px);
    }
    90% {
      opacity: 0.3;
      transform: translateY(5px);
    }
    100% {
      opacity: 0;
      transform: translateY(0px);
    }
  }
  @-webkit-keyframes {
    0% {
      opacity: 1;
      -webkit-transform: translateY(1000px);
    }
    90% {
      opacity: 0.3;
      -webkit-transform: translateY(5px);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(0px);
    }
  }
  body main article .menu_item {
    background-color: white;
    width: 88%;
    margin: auto;
    margin-top: 15px;
    border-radius: 20px;
    animation: slide-in 1s 1 cubic-bezier(0.53, 0.52, 0.73, 1.04);
    animation-delay: -0.48s;
  }
  body main article .menu_item h4 {
    font-size: 18px;
    margin: 0px;
    padding: 12px 10px 3px 10px;
  }
  body main article .menu_item div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px 12px 10px;
  }
  body main article .menu_item div p {
    margin: 0px;
    font-size: 14px;
  }
  body main article .menu_item div .menu_item_price {
    font-size: 16px;
    font-weight: 600;
  }
  body main article .menu_item1 {
    background-color: white;
    width: 88%;
    margin: auto;
    margin-top: 15px;
    border-radius: 20px;
    animation: slide-in 1s 1 cubic-bezier(0.53, 0.52, 0.73, 1.04);
    animation-delay: -0.32s;
  }
  body main article .menu_item1 h4 {
    font-size: 18px;
    margin: 0px;
    padding: 12px 10px 3px 10px;
  }
  body main article .menu_item1 div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px 12px 10px;
  }
  body main article .menu_item1 div p {
    margin: 0px;
    font-size: 14px;
  }
  body main article .menu_item1 div .menu_item_price {
    font-size: 16px;
    font-weight: 600;
  }
  body main article .menu_item2 {
    background-color: white;
    width: 88%;
    margin: auto;
    margin-top: 15px;
    border-radius: 20px;
    animation-delay: 0.3s;
    animation: slide-in 1s 1 cubic-bezier(0.53, 0.52, 0.73, 1.04);
    animation-delay: -0.16s;
  }
  body main article .menu_item2 h4 {
    font-size: 18px;
    margin: 0px;
    padding: 12px 10px 3px 10px;
  }
  body main article .menu_item2 div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px 12px 10px;
  }
  body main article .menu_item2 div p {
    margin: 0px;
    font-size: 14px;
  }
  body main article .menu_item2 div .menu_item_price {
    font-size: 16px;
    font-weight: 600;
  }
  body main .btn {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    margin: auto;
    margin-top: 40px;
    font-size: 17px;
    font-weight: 550;
    background: linear-gradient(360deg, #9356DC, #FF79DA);
    color: rgb(246, 246, 246);
    cursor: pointer;
    border: transparent;
    border-radius: 50px;
    box-shadow: 0px 0px 8px rgb(180, 180, 180);
  }
  body main .btn:hover {
    filter: brightness(110%);
    box-shadow: 0px 0px 8px #1b1b1b;
  }
  body main .btn {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;
    margin-bottom: 46px;
    font-weight: 400;
    font-size: 15px;
  }
  body footer {
    width: 100%;
    background-color: rgb(53, 53, 53);
    color: white;
    padding-bottom: 30px;
  }
  body footer div {
    padding-left: 24px;
  }
  body footer div:first-child {
    font-family: "Shrikhand", cursive;
    padding-top: 20px;
    padding-bottom: 14px;
    font-size: 17px;
  }
  body footer div a {
    color: white;
  }
  body footer div p {
    margin: 10px auto;
    font-size: 16px;
  }
  body footer div p i {
    font-size: 14px;
  }
  body footer div p span {
    display: inline-block;
    width: 28px;
    padding-right: 10px;
  }
}

/*# sourceMappingURL=restaurants.css.map */
