@media screen and (min-width: 768px) and (max-width: 991px) {
  * {
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: black;
  }
  body, html {
    margin: 0;
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    width: 100%;
    z-index: 9999;
    margin: 0px 0px;
    font-family: "Roboto", sans-serif;
  }
  @keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
  }
  @-webkit-keyframes balldelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
    }
  }
  body .spinner {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsla(0deg, 0%, 100%, 0.9);
    animation: loader 0.1s;
    animation-delay: 2s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  body .spinner > div {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: balldelay 1s infinite ease-in-out;
    animation: balldelay 1s 2 ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  body .spinner .ball1 {
    background-color: #99E2D0;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  body .spinner .ball2 {
    background-color: #FF79DA;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  body .spinner .ball3 {
    background-color: #9356DC;
  }
  body header {
    width: 100%;
    border-top: solid 1px rgb(234, 234, 234);
    display: flex;
    align-items: center;
  }
  body header > img {
    width: 10.5rem;
    height: auto;
    margin: 1.1rem auto;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (min-width: 992px) {
  body header > img {
    width: 12.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  body main .location {
    width: 100%;
    background-color: rgb(234, 234, 234);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 15px 10px -15px rgb(180, 180, 180);
  }
  body main .location i {
    align-items: center;
    padding-left: 3rem;
    font-size: 1.1rem;
  }
  body main .location form input {
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(234, 234, 234);
    border: transparent;
    margin-left: 0.9rem;
  }
  body main nav {
    width: 100%;
    background-color: rgb(246, 246, 246);
    padding-top: 2.5rem;
    padding-bottom: 3.3rem;
  }
  body main nav h2 {
    width: 76%;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
  }
  body main nav h6 {
    width: 92%;
    text-align: center;
    margin: auto;
    color: rgb(130, 130, 130);
    font-size: 1.1rem;
    font-weight: 100;
    margin-top: 0.8rem;
  }
  body main nav .btn {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 500;
    background: linear-gradient(360deg, #9356DC, #FF79DA);
    color: rgb(246, 246, 246);
    cursor: pointer;
    border: transparent;
    border-radius: 50px;
    box-shadow: 0px 0px 8px rgb(180, 180, 180);
  }
  body main nav .btn:hover {
    filter: brightness(110%);
    box-shadow: 0px 0px 10px #4e4e4e;
  }
  body main h3 {
    font-size: 1.5rem;
    font-weight: bold;
    width: 90%;
    margin: auto;
    padding-top: 3rem;
    margin-top: 0px;
  }
  body main .fonctionnement {
    padding-bottom: 3.1rem;
    /*version tablette*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    /*version tablette*/
  }
  body main .fonctionnement .filtre {
    display: flex;
    flex-direction: row;
    background-color: rgb(246, 246, 246);
    margin: 1.7rem 5% 1.7rem 9%;
    height: 70px;
    align-items: center;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 16px rgb(220, 220, 220);
    /*version tablette*/
    width: 43%;
    margin: 1rem 5% 1rem 2%;
    /*version tablette*/
  }
  body main .fonctionnement .filtre div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
  }
  body main .fonctionnement .filtre > div:first-child {
    background-color: #9356DC;
    width: 24px;
    height: 24px;
    border: transparent;
    border-radius: 1rem;
    margin-left: -0.9rem;
    color: white;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    text-align: center;
    align-items: center;
  }
  body main .fonctionnement .filtre > div:first-child span {
    display: block;
    padding-top: 3px;
  }
  body main .fonctionnement .filtre > div:nth-child(2) {
    margin: auto 1.25rem;
    color: rgb(180, 180, 180);
    font-size: 1.25rem;
  }
  body main article {
    width: 100%;
    background-color: rgb(246, 246, 246);
    padding-bottom: 50px;
  }
  body main article .container {
    /*version tablette*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 24px;
    /*version tablette*/
  }
  body main article .card {
    display: block;
    /*version tablette*/
    /*width: 90%;*/
    /*margin:auto;*/
    width: 48%;
    /*version tablette*/
    background-color: #fff;
    border-radius: 1.25rem;
    margin-bottom: 20px;
    box-shadow: 0px 0px 16px rgb(220, 220, 220);
  }
  body main article .card .card_photo {
    width: 100%;
    height: 170px;
    position: relative;
  }
  body main article .card .card_photo img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 1.25rem 1.25rem 0px 0px;
  }
  body main article .card .card_photo .img_center {
    object-position: 0px -9.4rem;
  }
  body main article .card .card_photo span {
    background-color: #99E2D0;
    font-size: 0.9rem;
    font-weight: 550;
    color: #278870;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
  }
  body main article .card .card_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-bottom: 1rem;
  }
  body main article .card .card_info h4 {
    margin: auto auto;
    font-size: 1.1rem;
    padding-top: 1rem;
  }
  body main article .card .card_info h6 {
    padding-top: 4px;
    margin: auto auto;
    font-size: 1.1rem;
    font-weight: lighter;
  }
  body main article .card .card_info .heart-box {
    display: flex;
    align-items: center;
  }
  body main article .card .card_info .heart {
    display: inline-block;
    font-size: 1.5rem;
    background-color: white;
    background-clip: content-box;
    -webkit-background-clip: text;
    cursor: pointer;
    transition: all 1s ease-out;
  }
  body main article .card .card_info .heart:hover {
    color: transparent;
    background-color: white;
    background: linear-gradient(180deg, #9356DC, #FF79DA);
    background-clip: content-box;
    -webkit-background-clip: text;
    font-weight: bold;
    opacity: 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  body footer {
    width: 100%;
    background-color: rgb(53, 53, 53);
    color: white;
    padding-bottom: 30px;
  }
  body footer div {
    width: 90%;
    margin: auto;
    /*version desktop
    @media screen  and (min-width:992px){
        width: 40%;
        margin:auto;
        padding-left: 0px;
    }
    version desktop*/
  }
  body footer div:first-child {
    font-family: "Shrikhand", cursive;
    padding-top: 20px;
    padding-bottom: 14px;
    font-size: 1.1rem;
  }
  body footer div a {
    color: white;
  }
  body footer div p {
    margin: 10px auto;
    font-size: 1rem;
  }
  body footer div p i {
    font-size: 0.9rem;
  }
  body footer div p span {
    display: inline-block;
    width: 28px;
    padding-right: 10px;
  }
  body footer div p span .handshake {
    transform: scale(0.8);
    transform-origin: left;
  }
}

/*# sourceMappingURL=style-tablette.css.map */
