@media screen  and (min-width:992px) {
    *{
        box-sizing: border-box;
    }
    @import "./utils/mixins";
    @import "./utils/variables";
    a{
        text-decoration: none;
        color:black;
    }
    
    body{
        width: 100%;
        font-family: 'Roboto', sans-serif;  
        @import "./layouts/resto-header";
        main{
            .photo_restaurant{
                width: 100%;
                img{
                    width: 100%;
                    height: 260px;
                    object-fit: cover;
                }
            }
            
            article{
                /*version desktop*/
                /*width: 100%;*/
                width: 50%;
                margin: auto;
                /*version desktop*/
                
                
                /*version desktop*/
                /*background-color: $color3;
                border-radius: 44px 44px 0px 0px;
                margin-top: -50px;*/
                background-color: $color-tertiaire;
                border-radius: 44px 44px 44px 44px;
                margin-top: 20px;
                margin-bottom: 20px;
                /*version desktop*/
                
                position: relative;
                z-index: 10;
                padding-bottom: 40px;
                
                .nom_resto{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items:flex-end;
                    /*version desktop*/
                    /*width: 90%;*/
                    width: 70%;
                    /*version tablette*/
                    margin:auto;
                    padding: 0px 0px;
                    h2{
                        padding-top: 12px;
                        font-size: 1.75rem;
                        font-weight: 400;
                        font-family: 'Shrikhand', cursive;
                        margin-bottom: 0px;
                    }
                    i{
                        @import "../sass/animations/heart"
                    }

                }
                .submenu-header{
                    /*version desktop*/
                    /*width: 90%;*/
                    width: 70%;
                    /*version desktop*/
                    margin:auto;
                    font-weight: 100;
                    font-size: 0.9rem;
                    margin-top: 30px;
                    h3{
                        margin-bottom: 0.3rem;
                        font-weight: 200;
                    }
                    .textBottom-decoration{
                        width: 3rem;
                        height: 0.2rem;
                        background-color: #99E2D0;
                        margin-top: 0px;
                    }
                }
                
                @import "./animations/_menuItem.scss";
                
                .menu_item{
                    @include menuItem;
                    animation-delay: -0.48s;
                }
                .menu_item1{
                    @include menuItem;
                    animation-delay: -0.32s;
                   
                }
                .menu_item2{
                    @include menuItem;
                    animation-delay: -0.16s;
                   
                }
                .menu_item3{
                    @include menuItem;

                    animation-delay: -0.01s;
                   
                }
                
            }
            
            @import "./components/button.scss";
            .btn{
                padding-left: 50px;
                padding-right: 50px;
                margin-top: 46px;
                margin-bottom: 20px;
                font-weight: 400;
                font-size: 15px;
            }
            
        }
        @import "./layouts/_footer.scss";
        
        
    }
}