@media screen {
    *{
        box-sizing: border-box;
    }
    $color1:rgb(220, 220, 220);
    $color2:rgb(234, 234, 234);
    $color3:rgb(246, 246, 246);
    $color4:rgb(180, 180, 180);
    @mixin title1{
        font-size: 1.75rem;
        font-weight: bold;
    }
    @mixin text1{
        font-size: 1rem;
        font-weight: 600;
    }
    a{
        text-decoration: none;
        color:black;
    }
    body, html {
        margin: 0;
        font-family: Roboto,sans-serif;
        scroll-behavior: smooth;
    }
    body{
        width: 100%;
        z-index: 9999;
        margin:0px 0px;
        font-family: 'Roboto', sans-serif; 
        .spinner {
            position: fixed;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            background-color: hsla(0,0%,100%,.9);
            @import "./animations/loading.scss";
            animation: loader 0.1s;
            animation-delay: 2s;
            animation-fill-mode: both;
            z-index: 10000;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
      }
       
      .spinner > div {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: balldelay 1s infinite ease-in-out;
        animation: balldelay 1s 2 ease-in-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
       
      .spinner .ball1 {
        background-color: #99E2D0;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
      }
       
      .spinner .ball2 {
        background-color: #FF79DA;
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
      }
      .spinner .ball3 {
        background-color: #9356DC;
        }
       
      
       
         
        header{
            width: 100%;
            border-top: solid 1px rgb(234, 234, 234);
            display: flex;
            align-items: center;
            &>img{
                width: 50%;
                height: auto;
                margin: 1.1rem auto;
                align-items: center;
            }
            
        }
        main{
            .location{
                width: 100%;
                background-color:rgb(234, 234, 234);
                height: 55px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                box-shadow:inset 0px 15px 10px -15px $color4;
                i{
                    align-items: center;
                    padding-left: 3rem;
                    font-size: 1.1rem;
                }
                form{

                    input{
                        @include text1;
                        background-color: $color2; 
                        border: transparent;
                        margin-left: 0.9rem;
                    }

                } 
            }
           
            nav{
                width: 100%;
                background-color: rgb(246, 246, 246);
                padding-top: 2.5rem;
                padding-bottom: 3.8rem;
                h2{
                    width: 76%;
                    text-align: center;
                    margin: auto;
                    @include title1;
                }
                h6{
                    width: 92%;
                    text-align: center;
                    margin: auto;
                    color: rgb(130, 130, 130);
                    font-size: 1.1rem;
                    font-weight: 100;
                    margin-top: 0.8rem;
                }
                @import "./components/_button.scss";
            }
            h3{
                @include title1;
                padding-left: 1.25rem;
                padding-top: 3rem;
                margin-top: 0px;
            }
            .fonctionnement{
                padding-bottom: 3.1rem;
                .filtre{
                    display: flex;
                    flex-direction: row;
                    width: 80%;
                    background-color: $color3;
                    margin: 1.9rem auto;
                    height: 80px;
                    align-items: center;
                    border-radius: 1.25rem;
                    box-shadow: 0px 0px 16px $color1;
                    
                    div{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @include text1;
                    }
                    
                    >div:first-child{
                        background-color:#9356DC;
                        width: 30px;
                        height: 30px;
                        border: transparent;
                        border-radius: 1rem;
                        margin-left: -0.9rem;
                        color: white;
                        text-align: center;
                        align-items: center;
                    }
                    >div:nth-child(2){
                        margin: auto 1.25rem;
                        color: $color4;
                        font-size: 1.25rem;
                    }
                }
            }
            article{
            width: 100%;
            background-color: $color3;
            padding-bottom: 50px;
                .card{
                    display: block;
                    width: 90%;
                    margin:auto;
                    background-color: #fff;
                    border-radius: 1.25rem;
                    margin-bottom: 20px;
                    box-shadow: 0px 0px 16px $color1;
                    .card_photo{
                        width: 100%;
                        height: 200px;
                        position: relative;
                        img{
                            width: 100%;
                            height:200px;
                            object-fit: cover;
                            object-position: bottom;
                            border-radius: 1.25rem 1.25rem 0px 0px;
                        }
                        .img_center{
                            object-position:0px -9.4rem;
                        }
                        span{
                            background-color: #99e2d0;
                            color: #1b6150;
                            padding: 0.5rem;
                            border-radius: 0.125rem;
                            position: absolute;
                            top: 1rem;
                            right: 0.75rem;
                        
                        }      
                    }
                    .card_info{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 90%;
                        margin: auto;
                        padding-bottom: 1rem;
                        h4{
                            margin: auto auto;
                            font-size: 1.25rem;
                            padding-top: 1rem;
                        }
                        h6{
                            padding-top: 4px;
                            margin: auto auto;
                            font-size: 1.25rem;
                            font-weight: 100;
                        }
                        .heart-box{
                            display: flex;
                            align-items: center;
                            
                        }
                        .heart{
                            
                            @import "./animations/heart"
                            
                        }

                    }
                    
                    
                }
            }
        }
        @import "./layouts/_footer.scss";
        
    }

}