@media screen {
  * {
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: black;
  }
  body {
    width: 100%;
    margin: 0px 0px;
    font-family: 'Roboto', sans-serif;
  }
  body header {
    width: 100%;
    border-top: solid 1px #eaeaea;
    display: flex;
    align-items: center;
  }
  body header > img {
    width: 50%;
    height: auto;
    margin: 18px auto;
    align-items: center;
  }
  body main .location {
    width: 100%;
    background-color: #eaeaea;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 15px 10px -15px #b4b4b4;
  }
  body main .location i {
    align-items: center;
    padding-left: 48px;
    font-size: 18px;
  }
  body main .location form input {
    font-size: 16px;
    font-weight: 600;
    background-color: #eaeaea;
    border: transparent;
    margin-left: 15px;
  }
  body main nav {
    width: 100%;
    background-color: #f6f6f6;
    padding-top: 40px;
    padding-bottom: 60px;
  }
  body main nav h2 {
    width: 76%;
    text-align: center;
    margin: auto;
    font-size: 28px;
    font-weight: bold;
  }
  body main nav h6 {
    width: 92%;
    text-align: center;
    margin: auto;
    color: #828282;
    font-size: 18px;
    font-weight: 100;
    margin-top: 12px;
  }
  body main nav .btn {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    margin: auto;
    margin-top: 40px;
    font-size: 17px;
    font-weight: 550;
    background: linear-gradient(360deg, #9356DC, #FF79DA);
    color: #f6f6f6;
    cursor: pointer;
    border: transparent;
    border-radius: 50px;
    box-shadow: 0px 0px 8px #b4b4b4;
  }
  body main nav .btn:hover {
    filter: brightness(110%);
    box-shadow: 0px 0px 8px #1b1b1b;
  }
  body main h3 {
    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 50px;
    margin-top: 0px;
  }
  body main .fonctionnement {
    padding-bottom: 50px;
  }
  body main .fonctionnement .filtre {
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: #f6f6f6;
    margin: 30px auto;
    height: 80px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 16px gainsboro;
  }
  body main .fonctionnement .filtre div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
  }
  body main .fonctionnement .filtre > div:first-child {
    background-color: #9356DC;
    width: 30px;
    height: 30px;
    border: transparent;
    border-radius: 15px;
    margin-left: -14px;
    color: white;
    text-align: center;
    align-items: center;
  }
  body main .fonctionnement .filtre > div:nth-child(2) {
    margin: auto 20px;
    color: #b4b4b4;
    font-size: 20px;
  }
  body main article {
    width: 100%;
    background-color: #f6f6f6;
    padding-bottom: 50px;
  }
  body main article .card {
    display: block;
    width: 90%;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  body main article .card .card_photo {
    width: 100%;
    height: 200px;
  }
  body main article .card .card_photo img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 20px 20px 0px 0px;
  }
  body main article .card .card_photo .img_center {
    object-position: 0px -150px;
  }
  body main article .card .card_photo div {
    width: 80px;
    padding: 5px 0px;
    text-align: center;
    background-color: #99E2D0;
    position: relative;
    top: -190px;
    left: 240px;
    color: #2c9c81;
    font-weight: 600;
  }
  body main article .card .card_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-bottom: 16px;
  }
  body main article .card .card_info h4 {
    margin: auto auto;
    font-size: 20px;
    padding-top: 16px;
  }
  body main article .card .card_info h6 {
    padding-top: 4px;
    margin: auto auto;
    font-size: 20px;
    font-weight: 100;
  }
  body main article .card .card_info .heart {
    font-size: 28px;
  }
  body main article .card .card_info .heart i {
    padding-top: 20px;
    color: #646262;
  }
  body main article .card .card_info .heart i:hover {
    background: #4fc277;
    display: block;
    color: #fff;
  }
  body footer {
    width: 100%;
    background-color: #353535;
    color: white;
    padding-bottom: 30px;
  }
  body footer div {
    padding-left: 24px;
  }
  body footer div:first-child {
    font-family: 'Shrikhand', cursive;
    padding-top: 20px;
    padding-bottom: 14px;
    font-size: 17px;
  }
  body footer div a {
    color: white;
  }
  body footer div p {
    margin: 10px auto;
    font-size: 16px;
  }
  body footer div p i {
    font-size: 14px;
  }
  body footer div p span {
    display: inline-block;
    width: 28px;
    padding-right: 10px;
  }
}
