@media screen  and (min-width:992px) {
    *{
        box-sizing: border-box;
    }
    @import "./utils/variables";
    @import "./utils/mixins";
    a{
        text-decoration: none;
        color:black;
    }
    body, html {
        /*version desktop*/
        max-width: 1480px;
        font-size: large;
        /*version desktop*/
        margin: 0;
        font-family: Roboto,sans-serif;
        scroll-behavior: smooth;
    }
    body{
        width: 100%;
        z-index: 9999;
        margin:0px 0px;
        font-family: 'Roboto', sans-serif; 
        @import "./animations/loading";
        @import "./layouts/header";
        main{
            .location{
                width: 100%;
                background-color:rgb(234, 234, 234);
                height: 50px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                box-shadow:inset 0px 15px 10px -15px $color4;
                i{
                    align-items: center;
                    padding-left: 3rem;
                    font-size: 1.1rem;
                }
                form{

                    input{
                        @include text1;
                        background-color: $color2; 
                        border: transparent;
                        margin-left: 0.9rem;
                    }

                } 
            }
           
            nav{
                width: 100%;
                background-color: rgb(246, 246, 246);
                padding-top: 2.5rem;
                padding-bottom: 3.3rem;
                h2{
                    width: 76%;
                    text-align: center;
                    margin: auto;
                    @include title1;
                }
                h6{
                    width: 92%;
                    text-align: center;
                    margin: auto;
                    color: rgb(130, 130, 130);
                    font-size: 1.1rem;
                    font-weight: 100;
                    margin-top: 0.8rem;
                }
                @import "./components/_button.scss";
            }
            h3{
                @include title1;
                
                /*version desktop*/
                /*width: 90%;*/
                width: fit-content;
                margin: auto;
                /*version desktop*/
                margin: auto;
                padding-top: 3rem;
                margin-top: 0px;
            }
            .fonctionnement{
                padding-bottom: 3.1rem;
                /*version desktop*/
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 90%;
                margin: auto;
                /*version desktop*/
                .filtre{
                    display: flex;
                    flex-direction: row;
                    background-color: $color3;
                    margin: 1.7rem 5% 1.7rem 9%;
                    height: 70px;
                    align-items: center;
                    border-radius: 1.25rem;
                    box-shadow: 0px 0px 16px $color1;
                    /*version desktop*/
                    width: 25%;
                    margin: 1rem 5% 1rem 2%;                    
                    /*version desktop*/
                    
                    div{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @include text1;
                    }
                    
                    >div:first-child{
                        background-color:#9356DC;
                        width: 24px;
                        height: 24px;
                        border: transparent;
                        border-radius: 1rem;
                        margin-left: -0.9rem;
                        color: white;
                        font-size: 14px;
                        font-weight: 300;
                        display: flex;
                        text-align:center;
                        align-items: center;
                        span{
                            display: block;
                            padding-top: 3px;
                        }
                    }
                    >div:nth-child(2){
                        margin: auto 1.25rem;
                        color: $color4;
                        font-size: 1.25rem;
                    }
                }
            }
            article{
            width: 100%;
            background-color: $color3;
            padding-bottom: 50px;
            .container{
                
                /*version desktop*/
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 90%;
                margin: auto;
                margin-top: 24px;
                /*version desktop*/
            }
                .card{
                    display: block;
                    
                    /*version desktop*/
                    /*width: 90%;*/
                    /*margin:auto;*/
                    width: 22%;
                    
                    /*version desktop*/
                    background-color: #fff;
                    border-radius: 1.25rem;
                    margin-bottom: 20px;
                    box-shadow: 0px 0px 16px $color1;
                    .card_photo{
                        width: 100%;
                        height: 170px;
                        position: relative;
                        img{
                            width: 100%;
                            height: 170px;
                            object-fit: cover;
                            object-position: bottom;
                            border-radius: 1.25rem 1.25rem 0px 0px;
                        }
                        /*version desktop*/
                        /*
                        .img_center{
                            object-position:0px -9.4rem;
                        }*/
                        .img_center{
                            object-position:center;
                        }
                        /*version desktop*/
                        span{
                            background-color: $color-tertiaire;
                            font-size: 0.9rem;
                            font-weight: 550;
                            color: darken($color: #99E2D0, $amount: 40);
                            padding: 0.4rem 0.6rem 0.4rem 0.6rem;
                            border-radius: 0.125rem;
                            position: absolute;
                            top: 1rem;
                            right: 0.75rem;
                        
                        }      
                    }
                    .card_info{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 90%;
                        margin: auto;
                        padding-bottom: 1rem;
                        h4{
                            margin: auto auto;
                            font-size: 1.1rem;
                            padding-top: 1rem;
                        }
                        h6{
                            padding-top: 4px;
                            margin: auto auto;
                            font-size: 1.1rem;
                            font-weight:lighter;
                        }
                        .heart-box{
                            display: flex;
                            align-items: center;
                            
                        }
                        .heart{
                            
                            @import "./animations/heart"
                            
                        }

                    }
                    
                    
                }
            }
        }
        @import "./layouts/_footer.scss";
        
    }

}