&{
    display: inline-block;
    font-size: 1.5rem;
    background-clip: text;
    -webkit-background-clip: text;
    cursor: pointer;
      
}
&:hover{
    background: linear-gradient(180deg, #9356DC, #FF79DA);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-weight: bold;
    animation:heart-fill 0.5s linear 1; 
    background-position: bottom;
}
@keyframes heart-fill{
    0%{
        background-size: 100% 0%;
    }
    50%{
        background-size: 100% 50%;
    }
    100%{
        background-size: 100% 100%;
    }
}
