&{
    display: inline-block;
    font-size: 28px;
    background-color: transparent;
    background-clip: content-box;
    -webkit-background-clip: text;
    cursor: pointer;
    transition:all 1s ease-out;
     
}
&:hover{
    color: transparent;
    background: linear-gradient(180deg, #9356DC, #FF79DA);
    background-clip: content-box;
    -webkit-background-clip: text;
    font-weight: bold;
    opacity: 1;
}
