
@mixin title1{
    font-size: 1.5rem;
    font-weight: bold;
}
@mixin text1{
    font-size: 1rem;
    font-weight: 600;
}
@mixin menuItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
    @media screen  and (max-width:767px) {
        width: 94%;
    }
    @media screen  and (min-width: 768px) and (max-width: 1280px) {
        width: 55%;
    }
    @media screen  and (min-width:1281px) {
        width: 80%;
    }
    margin: auto;
    margin-top: 15px;
    border-radius: 1rem;
    -webkit-animation:slide-in 3s ease-out 1;
    animation:slide-in 3s ease-out 1;
    -webkit-box-shadow: 0px 0px 8px rgb(220, 220, 220);
    box-shadow: 0px 0px 8px rgb(220, 220, 220);
    position: relative;
    cursor: pointer;
    &:hover{
        & > .menu_item__confirmation{
            -webkit-transform: translateX(2px);
                -ms-transform: translateX(2px);
                    transform: translateX(2px);
            margin-right: 0px;
            &>.menu_item__wrapIcon {
                -webkit-transform: rotate(0);
                    -ms-transform: rotate(0);
                        transform: rotate(0);
            }
        }
    }
    section{
        width: 84%;
        white-space: nowrap;
        overflow: hidden;
        padding: 11px 0px 11px 10px;
        h4{
            font-size: 1.2rem;
            font-weight: bold;
            padding-bottom: 6px;
            overflow-wrap: normal;
        }
        p{
            font-size: 0.85rem;
        }
        h4,p{
            margin: 0px;
            -o-text-overflow: ellipsis;
               text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
       
       
    }
    
    .menu_item__price{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
        align-items: end;
        text-align:right;
        padding: 12px 20px 12px 10px;
        white-space: nowrap;
        font-size: 1rem;
        font-weight: 600;
    }
    
    .menu_item__confirmation{
        width: 78px;
        margin-right: 0px;
        background-color:#99E2D0;
        -webkit-transition-duration: 0.6s;
             -o-transition-duration: 0.6s;
                transition-duration: 0.6s;
        margin-right: -82px;
        border-radius: 0px 1rem 1rem 0px;
        display:flex;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        -webkit-box-pack:center;
            -ms-flex-pack:center;
            justify-content:center;
        
        white-space: nowrap;
        
        .menu_item__wrapIcon {
            height: 1.6rem;
            width: 1.6rem;
            background-color: white;
            display:flex;
            -webkit-box-align:center;
            -ms-flex-align:center;
            align-items:center;
            -webkit-box-pack:center;
                -ms-flex-pack:center;
            justify-content:center;
            border-radius: 100px;
            -webkit-transform: rotate(-180deg);
                -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
            -webkit-transition-duration: 0.3s;
                 -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-delay: 0.3s;
                 -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
            .menu_item__icon{
                color:#99E2D0;
                font-weight: bolder;
            }
        }
    }
}